*{
  box-sizing: border-box;
}

body{
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header{
  position: fixed;
  top: 0;
  left: 0;
}

nav{
  width: 100vw;
  border-radius: 20px;
  box-shadow: inset 0 -2px 2px 5px rgba(0,0,0,0.2), 0 5px 5px rgba(0,0,0,0.5);
  background-image: url("styles/images/wood.jpg");
  background-size: 100vw 100%;
  background-repeat: no-repeat;
}

.navLogo{
  position: absolute;
  top: 0.5vh;
  left: 0;
  height: 9vh;
  transform: rotate(-15deg);
}

.navbar-nav{
  padding-left: 20vw !important;
}

.container{
  margin-top: 100px;
}

.formContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about{
  width: 75vw;
}

.about p{
  width: 100%;
}


@media (orientation: landscape){
  .imgContainer{
    display: flex;
    flex-wrap: wrap;
  }
}

@media (orientation: portrait){
  .imgContainer{
    display: flex;
    flex-direction: column;
  }
}
